[Unit]
Description=Main Robot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/8bitrobots
ExecStart=/root/8bitrobots/8bitrobot.js
StandardOutput=null
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
